{% extends 'admin/base-admin.html.twig' %}

{% block body %}

    <section class="flex flex-col pt-4 pb-24">
        <h1 class="text-4xl lg:text-5xl normal-case w-full text-center pb-10">Ajouter un utilisateur</h1>

        <form action='/admin/create-user' method='POST' class="flex flex-col form-back px-4 lg:px-0 lg:mx-auto">
            <div class="flex flex-col lg:flex-row items-center lg:space-x-16 uppercase italic mb-8 text-sm lg:text-base" id="image-in-bdd">
                {% if user.image %}
                    <div class="rounded-full border border-white h-24 w-24 bg-cover" style="background-image: url('/img/{{ user.image }}')"></div>
                {% else %}
                    <div class="rounded-full border border-white h-24 w-24 bg-cover"></div>
                    <span class="mt-4 lg:mt-0 text-center lg:text-left">L'utilisateur n'aura pas d'image de profil, il devra la définir dans son profil</span>
                {% endif %}
            </div>

            <div class="flex flex-col lg:flex-row lg:space-x-11 items-center lg:pb-8">
                {{ field("nom", "Nom","Nom","") }}
                {{ field("prenom", "Prénom","Prénom","") }}
            </div>
            <div class="flex flex-col lg:flex-row lg:space-x-11 items-center lg:pb-8 disabledInput">
                {{ field("mail", "Email","Email","") }}
                {{ field("date", "Date de naissance","Date de naissance","", {type: 'date'}) }}
            </div>
            <div class="flex flex-col lg:flex-row lg:space-x-11 items-center lg:pb-8">
                {{ field("password", "Mot de passe","Mot de passe","",{type: 'password'}) }}
                {{ field("confirmPassword", "Confirmation du mot de passe","Confirmation du mot de passe","",{type: 'password'}) }}
            </div>
            <div class="pb-4 lg:pb-8">
                {{ field("role", "Rôle", "", "", {type: "select", data: role}) }}
            </div>
            <input type='submit' class="button-submit uppercase text-base text-center w-full lg:w-40 lg:ml-auto mt-5" value="Ajouter"/>
        </form>
    </section>

{% endblock %}

