{% extends 'base.html.twig' %}

{% block body %}
    <div class="relative flex flex-row items-center space-x-4 pt-12 pb-16">
        <div class="relative">
            <div class="absolute bg-white w-40 p-px ml-1 opacity-60"></div>
            <div class="relative borderGradiantEffect w-40 opacity-90 mt-px pt-1 mr-1"></div>
        </div>
        <h1 class="absolute top-12 right-px">Evenements</h1>
        <h1 class="h1Gradiant">Evenements</h1>
    </div>

    {% for event in events %}

        {{ event.titre_event }}
        {{ event.titre_category }}
        {{ event.date }}
        {{ event.description }}
        {{ event.image }}
        <hr>
    {% endfor %}
{% endblock %}