{% extends 'admin/base-admin.html.twig' %}

{% block body %}
    <section class="flex flex-col pt-4 pb-24">
        <h1 class="text-4xl lg:text-5xl normal-case w-full text-center pb-10">{{ event.title }}</h1>

        <form action='/admin/update-event/{{ event.id }}' method='POST'
              class="flex flex-col form-back px-4 lg:px-0 lg:mx-auto"
              enctype="multipart/form-data">
            <div class="flex flex-col lg:flex-row lg:space-x-11 mb-8 lg:mb-16 items-center">
                <div class="flex flex-col uppercase italic mb-5 lg:mb-0" id="image-in-bdd">
                    <span>Image actuelle (Re-upload image obligatoire) :</span>
                    <div class="mt-2 w-full sm:w-420 lg:w-290 h-auto"><img src="/img/{{ event.image }}" alt="{{ event.title }}"/></div>
                </div>
                <div id="edit-image-preview" class="hidden mb-5 lg:mb-0 flex flex-col uppercase italic">
                    <span>Nouvelle image :</span>
                    <div id="img-preview" class="mt-2 w-full sm:w-420 lg:w-290 h-auto"></div>
                </div>
                    {{ field("file", "Image", "", event.image, {type: "file"}) }}
            </div>
            <div class="flex flex-col lg:flex-row lg:space-x-11 items-center pb-4 lg:pb-8">
                {{ field("title", "Titre", "Titre", event.title ) }}
                {{ field("category", "Catégorie", "", event.id_category, {type: "select", data: category}) }}
            </div>
            <div class="flex flex-col lg:flex-row lg:space-x-11 items-center lg:pb-8">
                {{ field("date", "Date et Heure","Date et Heure", date, {type: "datetime-local"}) }}
                {{ field("price", "Prix", "Prix", event.price,{type: "number"} ) }}
            </div>
                {{ field("description", "Description", "Description", event.description, {type: "textarea"}) }}
            <input type='submit' class="button-submit uppercase text-base text-center w-full lg:w-40 lg:ml-auto mt-4 lg:mt-8" value="Modifier"/>
        </form>
    </section>
{% endblock %}
