{% extends 'admin/base-admin.html.twig' %}

{% block body %}
    {{ message }}
    <section class="flex flex-col pt-4 pb-24">
        <h1 class="text-4xl lg:text-5xl normal-case w-full text-center pb-10">Participants</h1>

        <table class="min-w-full border-collapse block lg:table">
            <thead class="block lg:table-header-group">
            <tr class="block lg:table-row absolute -top-full lg:top-auto -left-full lg:left-auto lg:relative border-b border-white uppercase">
                <td class="py-2 w-1/4 text-center block lg:table-cell">Nom</td>
                <td class="py-2 w-1/4 text-center block lg:table-cell">Prenom</td>
                <td class="py-2 w-1/4 text-center block lg:table-cell">E-mail</td>
                <td class="py-2 w-1/4 text-center block lg:table-cell">Action</td>
            </tr>
            </thead>
            <tbody class="block lg:table-row-group">
            {% for participant in participant %}
                <tr class="block lg:table-row border-b border-t border-white px-4 mb-10 lg:mb-0 text-sm xl:text-base">
                    <td class="py-2 text-left lg:text-center block lg:table-cell">
                        <span class="inline-block w-1/2 lg:hidden font-expletus uppercase">Nom</span>
                        <span>{{ participant.nom }}</span>
                    </td>
                    <td class="py-2 text-left lg:text-center block lg:table-cell">
                        <span class="inline-block w-1/2 lg:hidden font-expletus uppercase">Prénom</span>
                        <span>{{ participant.prenom }}</span>
                    </td>
                    <td class="py-2 text-left lg:text-center block lg:table-cell">
                        <span class="inline-block w-1/2 lg:hidden font-expletus uppercase">E-mail</span>
                        <span>{{ participant.mail }}</span>
                    </td>
                    <td class="py-2 text-left lg:text-center block lg:table-cell">
                        <span class="inline-block w-1/2 lg:hidden font-expletus uppercase">Actions</span>
                        <button class="flex flex-col space-y-2 text-center lg:items-end lg:mx-auto">
                            <a href="/admin/delete-user-event/{{ participant.id }}/{{ id_event }}" class="button-delete">Supprimer</a>
                        </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}