{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des Evénements</h1>
    <a href="/admin/form-create-event">Créer un Événement</a>
    <table>
        <tr>
            <th>Id</th>
            <th>Titre</th>
            <th>Description</th>
            <th>Price</th>
            <th>Catégorie</th>
            <th>Créateur</th>
            <th>Action</th>
        </tr>
        {% for event in events %}
        <tr>
                <td>{{ event.id }}</td>
                <td>{{ event.title }}</td>
                <td>{{ event.description }}</td>
                <td>{{ event.price }}</td>
                <td>{{ event.category.name }}</td>
                <td>{{ event.user.username }}</td>
                <td>
                    <a href="/admin/form-edit-event/{{ event.id }}">Modifier</a>
                    <a href="/admin/delete-event/{{ event.id }}">Supprimer</a>
                </td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}
