{% extends 'base.html.twig' %}

{% block body %}
    <div class="flex flex-row items-center space-x-4">
        <div class="relative borderGradiantEffect w-40 opacity-90 mt-px pt-1 mr-1"></div>
        <h1 class="h1Gradiant"> {{ category.title }}</h1>
    </div>
    <div class="flex flex-col pt-7 px-4 lg:px-0">
        {% for event in events %}
        <div class="event-wrapper mb-14 lg:mb-28">
            <div class="event-container">
            <div class="event-container-black">
                <div class="relative w-full rounded mx-auto bg-cover bg-center h-full z-1" style="background-image: url('/img/{{ event.event.image }}')">
                <div class="bg-black opacity-80 border border-white rounded-md absolute top-4 bottom-4 right-4 left-4">
                    <div class="relative justify-center flex flex-col p-4">
                    <div class="flex flex-row justify-between items-center relative">
                        <span class="uppercase text-lg xl:text-2xl">{{ event.event.titre_event }}</span>
                        <div class="flex flex-row space-x-4 items-center">
                        <span class="text-xl">{{ event.event.price }}€</span>
                        </div>
                    </div>
                    {% if event.event.id_cat != 0 %}
                        <div>
                        <span class="text-sm xl:text-base text-center rounded-md py-px px-5 text-black" style="background-color: {{ event.event.color }}">
                            {{ event.event.titre_category }}
                        </span>
                        </div>
                    {% endif %}
                    <span class="uppercase text-sm xl:text-lg italic pt-2">{{ event.event.date|date("d/m/Y") }}</span>
                    <span class="before:h-0.5 before:w-24 before:bg-white before:absolute before:top-0 before:left-0
                                    after:h-0.5 after:w-24 after:bg-white after:absolute after:bottom-0 after:left-0
                                    py-2 relative min-h-34 max-h-34 text-xs sm:text-sm 2xl:text-base">
                        {{event.event.description|striptags|length > 300 ? event.event.description|striptags|slice(0, 300) ~ '...' : event.event.description|striptags}}
                    </span>
                    <div class="flex flex-row items-center justify-between mt-2">
                        <div class="nbrParticipant-wrapper">
                        <div class="nbrParticipant-container">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-px" viewBox="0 0 24 24" fill="currentColor">
                            <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd" />
                            </svg>
                            <span>{{event.nb.nombre}}</span>
                        </div>
                        </div>
                        <span class="bg-gradient-to-t from-blue via-purple to-pink rounded-md transition duration-300 hover:hover:scale-110">
                        <a href="/detail-event/{{ event.event.id_event }}" class="px-6 py-1 uppercase">Plus</a>
                    </span>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}


