{% extends 'base.html.twig' %}

{% block body %}
  <div class="flex flex-col">
    <div class="banner">
      <p>
      <span class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-center uppercase text-sm lg:text-3xl ">
        Bienvenue sur le site du bde ! <br> Venez découvrir tous les événements ici !
      </span>
      </p>
    </div>
    <div class="flex flex-col px-4 lg:px-28 pt-20 2xl:px-48">

      <div class="flex flex-col lg:flex-row lg:justify-between xl:justify-around">
        {#Evenements#}
        <div class="w-full lg:w-1/2">
          <div class="relative flex flex-col pb-4 lg:pb-16 w-full">
            <h1 class="relative pl-44
            before:absolute before:w-40 before:h-0.5 before:top-1/2 before:left-0
            before:bg-gradient-to-r before:from-blue before:via-purple before:to-pink">
              <span class="h1Gradiant">événements</span>
            </h1>
            <div class="flex flex-col pt-7 px-4 lg:px-0">
              {% for event in events %}
                {% if event.event.id_cat != 0 %}
                <article class="event-wrapper mb-14 lg:mb-28">
                  <div class="event-container">
                    <div class="event-container-black">
                      <div class="relative w-full rounded mx-auto bg-cover bg-center h-full z-1" style="background-image: url('/img/{{ event.event.image }}')">
                        <div class="bg-black-80 rounded-md absolute top-4 bottom-4 right-4 left-4">
                          <div class="relative justify-center flex flex-col p-4">
                            <div class="flex flex-row justify-between items-center relative">
                              <h2 class="uppercase text-sm sm:text-lg xl:text-2xl">{{ event.event.titre_event }}</h2>
                              <div class="flex flex-row space-x-4 items-center">
                                <span class="text-sm sm:text-xl">{{ event.event.price }}€</span>
                              </div>
                            </div>

                            <a href="detail-category/{{ event.event.id_cat }}">
                                <div>
                                  <span class=" text-xs sm:text-sm xl:text-base text-center rounded-md py-px px-5 text-black " style="background-color: {{ event.event.color_category }}">
                                    {{ event.event.titre_category }}
                                  </span>
                                </div>
                            </a>
                            <span class="uppercase text-sm xl:text-lg italic pt-2">{{ event.event.date|date("d/m/Y") }}</span>
                            <span class="before:h-0.5 before:w-24 before:bg-white before:absolute before:top-0 before:left-0
                                         after:h-0.5 after:w-24 after:bg-white after:absolute after:bottom-0 after:left-0
                                         py-1 sm:py-7 md:py-10 lg:py-2 relative min-h-34 max-h-34 text-xs sm:text-sm 2xl:text-base">
                              {{event.event.description|striptags|length > 300 ? event.event.description|striptags|slice(0, 300) ~ '...' : event.event.description|striptags}}
                            </span>
                            <div class="flex flex-row items-center justify-between mt-2 ">
                              <div class="nbrParticipant-wrapper">
                                <div class="nbrParticipant-container">
                                  <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-px" viewBox="0 0 24 24" fill="currentColor">
                                    <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd" />
                                  </svg>
                                  <span>{{event.nb.nombre}}</span>
                                </div>
                              </div>
                              {% if event.date %}
                                <span class="bg-gradient-to-t from-blue via-purple to-pink rounded-md transition duration-300 hover:hover:scale-110">
                                <a href="/detail-event/{{ event.event.id_event }}" class="px-6 py-1 uppercase">Plus</a>
                                </span>
                              {% else %}
                                <span class="bg-gray-500 rounded-md ">
                                <a class="px-6 py-1 uppercase">Evenement passé</a>
                                </span>
                              {% endif %}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </article>

                {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>

        {#Recherche#}
        <aside class="flex flex-col order-first lg:order-none">
          <section class="w-full lg:w-auto flex flex-col items-center pb-16 justify-end">
              <h1 class="relative pl-44
                         before:absolute before:w-40 before:h-0.5 before:top-1/2 before:left-0
                         before:bg-gradient-to-r before:from-blue before:via-purple before:to-pink">
                        <span class="h1Gradiant">recherche<br>événements</span>
              </h1>
              <form action='/recherche_home' method='POST'
                    class=" w-full flex flex-col justify-center items-center text-center mx-auto form-search pt-4 lg:pt-8">
                  {{ field("recherche", "Recherche","Rechercher...") }}
                  {{ field("category", "Catégorie", "", "", {type: "select", data: category}) }}
                  {{ field("prix_max", "Prix_max","Prix maximum","",{type: "number"}) }}
                  <button class="bg-gradient-to-t from-blue via-purple to-pink rounded-md text-center transition duration-300 hover:scale-110 px-6 py-1 uppercase">Rechercher</button>
              </form>
          </section>

        {#Actualités#}
        <section class="relative flex flex-col items-center  pb-4 lg:pb-16 w-full lg:w-auto">
          <h1 class="relative pl-44
            before:absolute before:w-40 before:h-0.5 before:top-1/2 before:left-0
            before:bg-gradient-to-r before:from-blue before:via-purple before:to-pink">
            <span class="h1Gradiant">Actualités</span>
          </h1>
          <div class="flex flex-col sm:flex-row sm:flex-wrap sm:gap-x-16 lg:flex-col  lg:items-center pt-7 w-full justify-center lg:w-3/4 px-4 lg:px-0">
            {% for new in news %}
              <a href="{{ new.link }}" target="_blank" class="transition duration-300 hover:hover:scale-110 sm:w-2/6 lg:w-11/12">
                <div class="h-32 w-full mb-12">
                  <div class="relative h-full before:absolute before:h-2/3 before:w-2/3 before:-translate-y-2 before:-translate-x-2 before:bg-pink before:rounded-md before:-z-1
                              after:absolute after:h-2/3 after:w-2/3 after:translate-y-2 after:translate-x-2 after:bg-blue after:rounded-md after:right-0 after:top-1/3 after:-z-1">

                    <div class="relative h-full before:absolute before:h-2/3 before:w-2/3 before:-translate-y-1.5 before:-translate-x-1.5 before:bg-black before:rounded-md before:-z-1
                                after:absolute after:h-2/3 after:w-2/3 after:translate-y-1.5 after:translate-x-1.5 after:bg-black after:rounded-md after:right-0 after:top-1/3 before:-z-1">
                      <div class="relative w-full h-full rounded-md mx-auto bg-gradient-to-t from-blue via-purple to-pink z-1">
                        <div class="absolute bg-black inset-2 rounded-md opacity-80 p-2 flex flex-col">

                          <span class="uppercase text-xs lg:text-sm font-bold relative
                          after:absolute after:w-1/3 after:h-0.5 after:bg-white after:bottom-0 after:left-0">
                            {{ new.name|striptags|length > 25 ? new.name|striptags|slice(0, 25) ~ '...' : new.name|striptags }}
                          </span>
                          <span class="italic pt-1">{{ new.date|date("d/m/Y") }}</span>
                          <span class="text-xs lg:text-sm">
                            {{ new.description|striptags|length > 50 ? new.description|striptags|slice(0, 50) ~ '...' : new.description|striptags }}
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            {% endfor %}
          </div>
        </section>
        </aside>
      </div>
    </div>
  </div>
  {#Qui sommes nous#}
  <section class="w-full h-auto mb-24 flex flex-col items-center">
      <h1 class="relative pl-44 justify-center
            before:absolute before:w-40 before:h-0.5 before:top-1/2 before:left-0
            before:bg-gradient-to-r before:from-blue before:via-purple before:to-pink">
        <span class="h1Gradiant">qui sommes nous ?</span>
      </h1>
      <div class="px-4 lg:px-24 xl:px-60 py-6 sm:py-8 lg:py-12 text-center">
        <div class="pb-2">Aibyu est une équipe de 3 personnes, tous passionés par le développement Web et bien d'autres choses.</div>
        <p>Cette équipe  est composée de trois personnes :</p>

        <div class="flex flex-col lg:flex-row justify-center text-center lg:space-x-4 pt-4 lg:pt-8">
          <div class="relative">
            <h1 class="h1Gradiant">STRYUS Wyvin</h1>
          </div>
          <div class="relative">
            <h1 class="h1Gradiant">CHAUDHRY Sofia</h1>
          </div>
          <div class="relative">
            <h1 class="h1Gradiant">SCHWALLER Nadia</h1>
          </div>
        </div>
      </div>
  </section>

{% endblock %}


