{% extends 'admin/base-admin.html.twig' %}

{% block body %}
    <div class="flex flex-col pt-4 pb-24">
        <div class="w-full text-center pb-10 px-4 lg:px-0 lg:pb-20">
            <h1 class="text-4xl lg:text-5xl normal-case">Ajouter une Actualitée</h1>
        </div>
        <form action='/admin/create-news' method='POST'
              class="flex flex-col form-back px-4 lg:px-0 lg:mx-auto">
            <div class="flex flex-col lg:flex-row lg:space-x-11 lg:pb-8">
                {{ field("name", "Nom", "Nom" ) }}
                {{ field("date", "Date","Date","", {type: "date"}) }}
            </div>
            {{ field("description", "Description", "Description","", {type: "textarea"}) }}
            <div class="w-full">
                <div class="w-full lg:w-40 lg:ml-auto mt-5">
                    <input type='submit' class="button-submit uppercase text-base text-center" value="Ajouter"/>
                </div>
            </div>
        </form>
    </div>

{#    <div class="flex flex-col items-center h-full">#}

{#        <div class="relative flex flex-row items-center space-x-4 pt-12 pb-16">#}
{#            <div class="relative">#}
{#                <div class="absolute bg-white w-40 p-px ml-1 opacity-60"></div>#}
{#                <div class="relative borderGradiantEffect w-40 opacity-90 mt-px pt-1 mr-1"></div>#}
{#            </div>#}
{#            <h1 class="absolute top-12 right-px">Ajouter une Actualitée</h1>#}
{#            <h1 class="h1Gradiant">Ajouter une Actualitée</h1>#}
{#        </div>#}

{#        <div class="form-wrapper pb-28">#}
{#            <div class="form-container">#}
{#                <form action='/admin/create-news' method='POST' class="relative w-full flex flex-col justify-center text-center bg-black py-7 sm:py-10 px-5 sm:px-15 rounded mx-auto form-front">#}
{#                    {{ field("name", "Nom", "Nom") }}#}
{#                    {{ field("description", "Description", "", "", {type: "textarea"}) }}#}
{#                    {{ field("date", "Date","Date", "", {type: "date"}) }}#}
{#                    <div class="customSubmit">#}
{#                        <input type='submit' class="uppercase text-base" value="Ajouter"/>#}
{#                    </div>#}
{#                </form>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

{% endblock %}
