{% extends 'admin/base-admin.html.twig' %}

{% block body %}
    {{ message }}

    <section class="flex flex-col pt-4 pb-24">
            <h1 class="text-4xl lg:text-5xl normal-case w-full text-center pb-10">Actualités</h1>
            <div class="flex flex-col lg:flex-row lg:justify-between lg:items-center px-3 lg:px-9 pb-8">
                <form method='POST' action="/admin/recherche-crud-news" class="flex flex-row items-center space-x-4">
                    <button name="ok" id="ok">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 lg:h-6 lg:w-6" fill="none" viewBox="0 0 24 24" stroke="url(#gradiant)" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                            <defs>
                                <linearGradient id="gradiant" x1="0%" y1="0%" x2="0%" y2="100%">
                                    <stop offset="0%" style="stop-color:rgb(255,10,108);stop-opacity:1" />
                                    <stop offset="100%" style="stop-color:rgb(45,39,255);stop-opacity:1" />
                                </linearGradient>
                            </defs>
                        </svg>
                    </button>
                    <input type="search" name="search" id="search" class="inputSearchBack" placeholder="Recherche">
                </form>
                <a href="/admin/form-create-news" class="button-add text-center mt-4 lg:mt-0">Ajouter une actualité</a>
            </div>

            <table class="min-w-full border-collapse block lg:table">
                <thead class="block lg:table-header-group">
                <tr class="block lg:table-row absolute -top-full lg:top-auto -left-full lg:left-auto lg:relative border-b border-white uppercase">
                    <td class="py-2 w-1/5 text-center block lg:table-cell">Nom</td>
                    <td class="py-2 w-1/5 text-center block lg:table-cell">Description</td>
                    <td class="py-2 w-1/5 text-center block lg:table-cell">Date</td>
                    <td class="py-2 w-1/5 text-center block lg:table-cell">Lien</td>
                    <td class="py-2 w-1/5 text-center block lg:table-cell">Action</td>
                </tr>
                </thead>
                <tbody class="block lg:table-row-group">
                {% for new in news %}
                    <tr class="block lg:table-row border-b border-t border-white px-4 mb-10 lg:mb-0 text-sm xl:text-base">
                        <td class="py-2 text-left lg:text-center flex flex-row lg:table-cell">
                            <span class="inline-block w-1/2 lg:hidden font-expletus font-bold uppercase">Nom</span>
                            <span class="w-1/2 inline-block">{{ new.name }}</span>
                        </td>
                        <td class="py-2 text-left lg:text-center flex flex-row lg:table-cell">
                            <span class="inline-block w-1/2 lg:hidden font-expletus font-bold uppercase">Description</span>
                            <p class="w-1/2 lg:w-auto">{{ new.description|striptags|length > 80 ? new.description|striptags|slice(0, 80) ~ '...' : new.description|striptags }}</p>
                        </td>
                        <td class="py-2 text-left lg:text-center block lg:table-cell">
                            <span class="inline-block w-1/2 lg:hidden font-expletus font-bold uppercase">Date</span>
                            <span>{{ new.date|date('d/m/Y') }}</span>
                        </td>
                        <td class="py-2 text-left lg:text-center flex flex-row lg:table-cell">
                            <span class="inline-block w-1/2 lg:hidden font-expletus font-bold uppercase">Lien</span>
                            <span class="w-1/4 lg:w-auto">{{ new.link|striptags|length > 20 ? new.link|striptags|slice(0, 20) ~ '...' : new.link|striptags }}</span>
                        </td>
                        <td class="py-2 text-left lg:text-center flex flex-row items-center lg:table-cell">
                            <span class="inline-block w-1/2 lg:hidden font-expletus font-bold uppercase">Actions</span>
                            <div class="flex flex-col space-y-2 text-center lg:items-center">
                                <a href="/admin/form-edit-news/{{ new.id }}" class="button-edit">Modifier</a>
                                <a href="/admin/delete-news/{{ new.id }}" class="button-delete">Supprimer</a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
    </section>
{% endblock %}
