{% extends 'admin/base-admin.html.twig' %}

{% block body %}
    {#    {% if message %}#}
    {{ message }}
    {#    {% endif %}#}
    <section class="flex flex-col pt-4 pb-24">
        <h1 class="w-full text-center text-4xl lg:text-5xl normal-case px-4">Catégories</h1>
        <span class="pb-10 text-center pt-8 text-red flex flex-col lg:flex-row justify-center items-center px-4">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
            </svg>
            Si vous supprimez une catégorie tous les événements lié iront dans la catégorie par défaut.
        </span>
        <div class="flex flex-col lg:flex-row lg:justify-between lg:items-center px-3 lg:px-9 pb-8">
            <form method='POST' action="/admin/recherche-crud-cat"  class="flex flex-row items-center space-x-4">
                <button name="ok" id="ok">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 lg:h-6 lg:w-6" fill="none" viewBox="0 0 24 24" stroke="url(#gradiant)" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                        <defs>
                            <linearGradient id="gradiant" x1="0%" y1="0%" x2="0%" y2="100%">
                                <stop offset="0%" style="stop-color:rgb(255,10,108);stop-opacity:1" />
                                <stop offset="100%" style="stop-color:rgb(45,39,255);stop-opacity:1" />
                            </linearGradient>
                        </defs>
                    </svg>
                </button>
                <input type="search" name="search" id="search" class="inputSearchBack" placeholder="Recherche">
            </form>
            <a href="/admin/form-create-category" class="button-add text-center mt-4 lg:mt-0">Ajouter une catégorie</a>
        </div>

        <table class="min-w-full border-collapse block lg:table">
            <thead class="block lg:table-header-group">
            <tr class="block lg:table-row absolute -top-full lg:top-auto -left-full lg:left-auto lg:relative border-b border-white uppercase">
                <td class="py-2 w-1/4 text-center block lg:table-cell">Nom</td>
                <td class="py-2 w-1/4 text-center block lg:table-cell">Couleur</td>
                <td class="py-2 w-1/4 text-center block lg:table-cell">Evenement</td>
                <td class="py-2 w-1/4 text-center block lg:table-cell">Action</td>
            </tr>
            </thead>
            <tbody class="block lg:table-row-group">
            {% for category in category %}
                <tr class="block lg:table-row border-b border-t border-white px-4 uppercase mb-10 lg:mb-0 text-sm xl:text-base">
                    <td class="py-2 text-left lg:text-center block lg:table-cell">
                        <span class="inline-block w-1/2 lg:hidden font-expletus font-bold">Nom</span>
                        <span>{{ category.title }}</span>
                    </td>
                    <td class="py-2 text-left lg:text-center block lg:table-cell">
                        <span class="inline-block w-1/2 lg:hidden font-expletus font-bold">Couleur</span>
                        <span style="background-color: {{ category.color }}"
                              class="px-8 lg:px-6 py-1 rounded-full {% if category.color is same as "#000000" %} text-white border-white border {% else %} text-black {% endif %}  font-bold">
                                {{ category.color }}
                            </span>
                    </td>
                    <td class="py-2 text-left lg:text-center flex flex-row items-center lg:table-cell">
                        <span class="inline-block w-1/2 lg:hidden font-expletus font-bold">Evenement</span>
                        <button class="flex flex-col space-y-2 text-center lg:items-center lg:mx-auto">
                            <a href="/admin/liste-event-by-cat/{{ category.id }}" class="button-edit">Voir ( {{ category.nombre }} ) </a>
                        </button>
                    </td>
                    {% if category.id == 0 %}
                        <td class="py-2 text-left lg:text-center flex flex-row items-center lg:table-cell">
                            <span class="inline-block w-1/2 lg:hidden font-expletus font-bold">Actions</span>
                            <span> Non modifiable <br>/ supprimable</span>
                        </td>
                    {% else %}
                        <td class="py-2 text-left lg:text-center flex flex-row items-center lg:table-cell">
                            <span class="inline-block w-1/2 lg:hidden font-expletus font-bold">Actions</span>
                            <div class="flex flex-col space-y-2 text-center lg:items-center">
                                <a href="/admin/form-edit-category/{{ category.id }}" class="button-edit">Modifier</a>
                                <a href="/admin/delete-category/{{ category.id }}" class="button-delete">Supprimer</a>
                            </div>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if i > 9 %}
                    {% set k = 1 %}
                    {% set j = 1 %}

                    {% if page != 0 %}
                        <a href=/admin/list-category/{{ 0 }}>Début</a>
                        <a href=/admin/list-category/{{ 0 }}>1</a>
                    {% else %}
                        <u><a href=/admin/list-category/{{ 0 }}>1</a></u>
                    {% endif %}
                    {% for i in 1..i%}
                        {% if i%9 == 0 %}
                            {% set j = j + 1 %}
                                {% if page == i %}
                                    <u><a href=/admin/list-category/{{ i }}>{{ j }}</a></u>
                                {% else %}
                                    <a href=/admin/list-category/{{ i }}>{{ j }}</a>
                                {% endif %}
                            {% set k = i %}
                        {% endif %}
                    {% endfor %}
                    {% if page != k %}
                        <a href=/admin/list-category/{{ k }}>Fin</a>
                    {% endif %}
                {% endif %}
    </section>
{% endblock %}
